body{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color:white; 
	margin:auto;
}
.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#wrapper {
	background-color:white;
	height:1000px;
	width:1080px;
	margin:auto;
	padding-bottom: 2.5rem; 
}

#h1 {
font-size:30px;
margin-left:460px;
margin-top:30px;
font-family:"Chewy", system-ui;
}

#h2 {
font-size:24px;
font-family:"Chewy", system-ui;
color:#dcd0ff;
}

#para {
font-size:17px;
font-family:"Poiret One", sans-serif;
}

a {
color:#fba0e3;
background-color:transparent;
text-decoration: none;
font-family:"Poiret One", sans-serif;
}

a:hover {color:#dcd0ff;}   


nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left:50px;
  margin-bottom:100px;
}

img{
/* width:50%;*/
height:50:%;
float:none;
}

aside{
color:black;
font-size:20px;
text-decoration:none;
float:right;
margin-top:-400px;
margin-right:200px;
}

.column{
  float: left;
  width: 33.33%;
  /* background-color:red; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  background-color:blue;
  margin-bottom:15px;
}

figcaption{
font-family:"Poiret One", sans-serif;
}

.footer{
font-size:14px;
font-family:"Poiret One",sans-serif;
text-align:center;
/* position:relative; */
margin-top:100px;
bottom:0;
}
